
//Colors

.green {
    color: green !important;
}

//Type

.bold {
    font-weight: 700 !important;
}

.not-bold {
    font-weight: normal !important;
}

.throw {
    text-decoration: line-through !important;
}

.underline {
    text-decoration: underline !important;
}