// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    @include flex(column, center, center);
    width: 100%;
    padding: 40px 20px;
    text-align: center;
    background: #e8e8e8;

    p {
        max-width: 570px;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        color: lighten($color-black, 20%);
    }
}