doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width' initial-scale=1.0)
        meta(name='author' content='ParselleDev')
        meta(name='contact' content='parselledev@gmail.com')

        link(rel='stylesheet' href='css/main.css')
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet')

        script(type='text/javascript' src='js/app.js')
        title Simple title

    body.t-default.p-home
        h3 WebServer started!
        h3 Watch started!
        h3 Gencode Framework started!
        h3 Let's coding!
