//include partials/php/before.php
doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width' initial-scale=1.0)
		meta(name='author' content='ParselleDev')
		meta(name='contact' content='parselledev@gmail.com')

		link(href='css/main.css' rel='stylesheet' )
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet')

		script(src="https://yastatic.net/jquery/3.1.1/jquery.min.js")
		script(src='js/main.js')
		title Developed with Gencode Framework

		//include partials/php/head.php

	body.t-default.p-home

		include partials/header
		include partials/footer

		//include partials/php/after.php