
body
    font-family: "Roboto", Helvetica, Arial, sans-serif

h1
    +font-preset(rem(40px), 400, $color-black, 1.2)
    +media-mx(768px)
        font-size: 36px

h2
    +font-preset(rem(36px), 400, $color-black, 1.2)
    +media-mx(768px)
        font-size: 34px

h3
    +font-preset(rem(32px), 400, $color-black, 1.2)
    +media-mx(768px)
        font-size: 28px

h4
    +font-preset(rem(28px), 400, $color-black, 1.2)
    +media-mx(768px)
        font-size: 24px

h5
    +font-preset(rem(24px), 400, $color-black, 1.2)
    +media-mx(768px)
        font-size: 20px

h6
    +font-preset(rem(20px), 400, $color-black, 1.2)
    +media-mx(768px)
        font-size: 18px

p
    +font-preset(rem(16px), 400, $color-black, 1.3)