//Animations
@keyframes pulse
	0%
		opacity: 1
	50%
		opacity: 0.6
	100%
		opacity: 1	

.c-btn
	display: flex
	justify-items: center
	justify-content: center
	align-items: center
	font-weight: bold
	text-decoration: none
	text-align: center
	border-radius: 5px
	border: none
	cursor: pointer
	outline: none
	transition: 0.15s

	+on-event
		transform: translateY(-2px)
		box-shadow: $shadow-main

	//Size
	+mod('--main')
		width: 270px
		padding: 16px 25px
		font-size: 18px

	//Color
	+mod('--red')
		background: $color-danger
		color: white

		+on-event
			background: darken($color-danger, 10%)

	//Extensions
	+mod('--wide')
		width: 100%

	+mod('--link')
		color: $color-dark
		background: transparent
		border: 1px solid $color-primary

		+on-event
			background: $color-primary
			color: white

	+mod('--pulse')
		animation: 1.2s pulse infinite

		+on-event
			animation: none

	+mod('--disabled')
		opacity: 0.5

		+on-event
			transform: none
			cursor: not-allowed

		