
.c-btn
    display: grid
    justify-content: center
    width: 180px
    padding: 16px 10px
    color: white
    font-size: 18px
    font-weight: bold
    border-radius: 10px
    border: none
    cursor: pointer
    outline: none
    background: lightgrey
    background-size: auto 200px
    text-decoration: none
    transition: 0.5s

    &:hover
        background-position: bottom
    &:active
        background-position: bottom