include button/button.pug
include counter/counter.pug
include section/section.pug
include slider/slider.pug
include timer/timer.pug
include form/form.pug
include input/input.pug
include modal/modal.pug