
// Breakpoints
$bp-mb-s : "320px" !default
$bp-mb-m : "375px" !default
$bp-mb-l : "425px" !default
$bp-tb : "768px" !default
$bp-lp : "1024px" !default
$bp-lp-l : "1440px" !default
$bp-4k : "2560px" !default

//Globals
$line-height: 2.4rem !default
$font-size: 16px !default

// Framework colros
$color-info: #5BC0EB
$color-success: #2BC016
$color-warning: #E67E22
$color-danger: #C3423F

// Brand colors
$color-black: #222222