
// Breakpoints
$bp-mb-s : "320px" !default
$bp-mb-m : "375px" !default
$bp-mb-l : "425px" !default
$bp-tb : "768px" !default
$bp-lp : "1024px" !default
$bp-lp-l : "1440px" !default
$bp-4k : "2560px" !default

//Globals
$line-height: 2.4rem !default
$font-size: 16px !default

// Brand colors
$color-black: #666666
$color-pink: #e22b80
$color-mint: #4cc5d3

//Gradients, shadows etc...
$gradient-green: linear-gradient( to bottom, #96e233 0%, #42a919 33%, #81f9c2 60%, #1ad47f 97%)

$shadow-main: 0px 7px 15px 0px rgba(0, 0, 0, 0.3)
$shadow-text: 0px 2px 2px rgba(0, 0, 0, 0.3)