.c-slider.about__slider.js-slider
	a.c-slider__arrow-prev.js-slider__arrow-prev(href='javascript:void(0)')

	.c-slider__view
		img.c-slider__item.js-slider__item.active(src="img/certificate_1.jpg", alt="Сертификат-1")

		img.c-slider__item.js-slider__item(src="img/certificate_2.jpg", alt="Сертификат-2")

		img.c-slider__item.js-slider__item(src="img/certificate_3.jpg", alt="Сертификат-3")

	a.c-slider__arrow-next.js-slider__arrow-next(href='javascript:void(0)')