.c-timer.sale__timer.js-timer(data-timer='18')
	.c-timer__block
		h2.c-timer__number.js-timer__days 00
		span.c-timer__desc дней

	.c-timer__block
		h2.c-timer__number.js-timer__hours 00
		span.c-timer__desc часов

	.c-timer__block
		h2.c-timer__number.js-timer__minutes 00
		span.c-timer__desc минут

	.c-timer__block
		h2.c-timer__number.js-timer__seconds 00
		span.c-timer__desc секунд